.vscode/
.devcontainer/
*.pyc
env
img/portada.pptx
img/1200px-DigitalOcean_logo.svg.png
img/fastapi.png
img/nginx-1.jpg
img/ubuntu-logo.png
img/docker.png
img/docker-compose-button.jpg
img/descarga.png
img/a16c4880-a501-11ea-9e8f-646cf611702e.png
img/descarga (2).png
img/~$portada.pptx
